{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Aayla", "Alema", "Ann", "Aola", "Ayy", "Daesha", "Dia", "Feen", "Gida", "Giza", "Hirani", "Jiljoo", "Koyi", "Lyn", "Mala", "Nabrina", "Nima", "Nolaa", "Numa", "Oola", "Palakwi", "Pampy", "Poy", "Seela", "Seku", "Shakka", "Shiri", "Sienn", "Sinya", "Supisy", "Talik", "Tann", "Teeubo", "Xiann", "Alask", "Anoon", "Bibfort", "Boc", "Bril", "Byt", "Cazne", "Chee", "Chom", "Cotan", "Darap", "Dinek", "Elav", "Firith", "Glie", "Haly", "Hid", "Ilar", "Inun", "Jart", "Jela", "Jer", "Karawn", "Kopecz", "Lonay", "Mazer", "Nabat", "Nawara", "Nerra", "Nuro", "Olm", "Orn", "Pol", "Ree", "Reess", "Rol", "Silais", "Siolo", "Skawn", "Tal", "Tol", "Tott", "Valsil", "Vuren", "Warat", "Yuned", "Zelada" ],
      [ { "mode" : "alts" }, "'afa", "'amersu", "'ani", "'blankuna", "'blen", "'bondara", "'bonduna", "'distombe", "'doneeta", "'dura", "'eyan", "'fenn", "'freetaa", "'freykaa", "'gella", "'han", "'jab", "'kairn", "'kirrin", "'kluub", "'komad", "'kru", "'luroon", "'me", "'mobok", "'nilim", "'olgkru", "'passik", "'rackus", "'racor", "'rar", "'rha", "'rihe", "'salwa", "secura'", "'shale", "'sivron", "'smoo", "'tar", "'tarkona", "'teksa", "'tiatkin", "'tirr", "'toqema", "'torr", "'tualin", "'valla", "'ven", "'vida", "'vrei", "'waran", "'ziveri" ]
    ]
  ]
}
